<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1><%=rec.title%></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/recs">Recommendations Index</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1><%=rec.title%></h1>
      <section>
        <%=rec.body%>
      </section>
      <section>
        <a href="/recs/<%=rec._id%>/edit">Edit</a>
      </section>
      <section>
        <form action="/recs/<%=rec._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete Recommendation"/>
        </form>
      </section>
    </main>
  </body>
</html>
