<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Show page for <%=user.username%></h1>
      <nav>
        <form>
          <input type="button" value="Home" onclick="window.location.href='/'"/>
          <input type="button" value="User Index" onclick="window.location.href='/users'"/>
        </form>
      </nav>
    </header>
    <main>
      <section>
        <h2>User Attributes:</h2>
        <ul>
          <li>Username: <%=user.username%></li>
        </ul>
      </section>
      <section>
        <h2>Recommendations Written About This User:</h2>
        <ul><% for(let i = 0; i < user.recs.length; i++) { %>
          <li><a href="/recs/<%=user.recs[i]._id%>"><%=user.recs[i].title%></a></li>
          <% } %>
        </ul>
      </section>
      <section>
        <a href="/users/<%=user._id%>/edit">Edit</a>
      </section>
      <section>
        <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete User"/>
        </form>
      </section>
    </main>
  </body>
</html>
