<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Show page for <%=user.username%></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/users">User Index</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>User Attributes:</h2>
        <ul>
          <li>Userame: <%=user.username%></li>
        </ul>
      </section>
      <section>
        <h2>Recommendations Written About This User:</h2>
        <ul><% for(let i = 0; i < user.recs.length; i++) { %>
          <li><a href="/recs/<%=user.recs[i]._id%>"><%=user.recs[i].title%></a></li>
          <% } %>
        </ul>
      </section>
      <section>
        <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete User"/>
        </form>
      </section>
      <section>
        <a href="/users/<%=user._id%>/edit">Edit</a>
      </section>
    </main>
  </body>
</html>
